PORT=3000
ADMIN_NICKNAME=admin
ADMIN_PASSWORD=admin1234

JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret
JWT_ACCESS_MAX_AGE_MS=900000
JWT_REFRESH_MAX_AGE_MS=604800000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=blog

ELASTICSEARCH_NODE=http://localhost:9200
